/* Landing */ 
.landing {
    height: 100%;
    background-image: url("../media/landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.img-container {
    margin: -30px auto 50px auto;
    max-width: 500px;
    min-width: 300px;
}

.img-container img {
    display: block;
    width: 75%;
    border-radius: 50%;
    margin: 30px auto;
    padding-top: 30px;
}

.btn-container {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    height: 100%;
}

.btn-container button {
    display: block;
    margin: 2.75rem auto;
    padding: 12px 24px;
    font-size: 1.5rem;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #505151;
    color: white;
    border: black 3px solid;
    transition: 0.5s;
}

button#left:focus, button#left:hover {
    font-style: italic;
    color: #c02209;
    font-size: 1.8rem;
    border: 0;
    background-color: #070609;      
}

button#right:focus, button#right:hover {
    font-weight: 500;
    color: #669725;
    font-size: 1.8rem;
    border: 0;
    background-color: #a334b2;
}

button#left {
    font-family: "Andika New Basic", sans-serif;
}

button#right {
    font-family: "Montserrat", serif;
    line-height: 1.55;
}

/* Fire (Projects) */
.fire {
    font-family: "Andika New Basic", sans-serif;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
}

.fire img#fire-img{
    width: 0%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.fire div.content {
    width: 65%;
    height: 100%;
    position: absolute;
    height: 100%;
    padding-left: 20px;
    top: 0;
    right: 0;
    /*overflow-y: scroll;*/
}

.fire h1 { font-size: 3rem }
.fire h2 {
    font-size: 2rem;
    border-left: solid 2px #c02209;
    margin: 20px 0;
}

.fire div.flexbox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fire div.flexbox img {
    min-width: 175px;
    max-width: 200px;
    padding: 5px;
}

.fire span {
    position: fixed;
    top: 10px;
    right: 10px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-left: 2px dotted #c02209;
    padding: 8px;
    cursor: pointer;
    background-color: #ebebeb;
}

/* Fish (About) */
.fish {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    font-family: "Montserrat", serif;
}

.fish img#fish-img {
    height: 100%;
    width: 0%;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
}

.fish div.content {
    width: 65%;
    height: 100%;
    position: absolute;
    height: 100%;
    padding-top: 20px;
    top: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fish .image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.fish figure {
    grid-column-start: 2;
    display: flex;
    flex-flow: column;
    float: right;
    max-height: 500px;
    margin: auto;
}

.fish figure figcaption {
    background-color: rgba(7, 2, 9, 0.45);
    color: white;
    padding: 10px;
    margin-top: -40px;
}

.fish img {height: 500px}

.fish address {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 50%;
}

.fish address a { color: #a334b2; padding: 5px; }

.fish address a:hover { color: #669725 }

.fish span#return-fish {
    position: fixed;
    top: 10px;
    left: 10px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-left: 2px dotted #a334b2;
    padding: 8px;
    cursor: pointer;
    background-color: #ebebeb;
}

.fish div.text-container {
    width: 100%;
    margin: 20px auto 20px auto;
    line-height: 1.25;
    max-width: 700px;
}

div.text-container h1 { font-size: 2rem }
div.text-container em { font-weight: 500 }

div.text-container h2 { margin: 20px 0 }

.fish .skills {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Media Queries */
@media only screen and (max-height: 460px){
    .landing { overflow-y: scroll }
    .img-container img { max-width: 200px }
}

@media only screen and (max-width: 1322px) {
    .fire img#fire-img, .fish img#fish-img { visibility: hidden }
    .fire div.content, .fish div.content { width: 100% }
}
@media only screen and (max-width: 487px) {
    .fire h1 { font-size: 1.5rem }

    .fire h2 { font-size: 1rem; border: 0; }
    
    .fire div.content { text-align: center }

    .fire div.flexbox { justify-content: center;}
}