section {
    display: inline-block;
    width: 100%;
}

section.landing {
    background-color: #070609;
    height: 100%;
}

section.projects {
    font-family: "Andika New Basic", sans-serif;
}

section.about {
    font-family: "Montserrat", sans-serif;
}

/* Landing */
.landing .image-container {
    width: 75%;
    margin: 40px auto;
}
.landing img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.landing .button-container {
    margin: 0 auto;
    width: 240px;
}

.landing .button-container button {
    margin: 20px 0;
    text-align: center;
    padding: 24px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.25rem;
}

.landing .button-container button.left {
    float: left;
    font-family: "Andika New Basic", sans-serif;
    background-image: linear-gradient(45deg, #C02209, #f1a11b)
}

.landing .button-container button.right {
    float: right;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(45deg, #a133b0, #669725)
}


